h3{
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}
.productImg{
  
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  
}
.productCart:hover{
  box-shadow: 0 10px 20px 0 rgb(0,0,0.3);
}

.productCart{
  padding-top: 20px;
  text-align: center;
  border-radius: 20px;
}
@media screen and (min-width:1200px) {
  .productCol{
    width: 20% !important;
  }
}


.priceMonth{

  background-color: red;
  padding: 1px 8px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}
.productCart .btn{
  padding: 0 100px ;
}

.productCol{
  margin-bottom: 20px;
  border-radius: 50px;
}